header {
  position: relative;
}

span{
  font-size: 25px;
 background: linear-gradient(to right, #5c7de9, #19e3da);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}

.logo-top {
  position: relative;
  top : -5px;
  left: 44%;
  height: 50px;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 2px solid #ccc;
  padding: 10px 20px;
}

nav img {
  height: 30px;
}

.user-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.user-item {
margin-top: 20px;
margin-left: 50px;
width: 25%;
display: block;
font-size: 16px;
text-align: center;
margin-bottom: 20px;
border: 1px solid #ddd;
padding: 20px;
background-color: #f9f9f9;
box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
border-radius: 10px;
}

.user-item:hover {
background-color: #5c7de9;
}

.user-item a {
text-decoration: none;
color: #333;
font-weight: bold;
transition: all 0.3s ease-in-out;
}

.user-item a:hover {
color: white;
}

h2 {
  font-size: 25px;
  text-align: center;
  color: #736D6C;
  margin-top: 0px;
}

p{
  position: absolute;
  left: 53%;
  top: 310px;
  font-family: Arial, sans-serif;
  font-size: 1.2em;
  line-height: 1.5;
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  text-shadow: 5px 5px 5px #888888;
}

.box {
  position: absolute;
  z-index: -1;
  width: 350px;
  height: 500px;
  left: 800px;
  top: 150px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

#pas-encore{
  top: 10%;
  text-shadow: none;
  font-size: 12px;
  position: absolute;
  left: 1%;
}